@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,900;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

html {
  scroll-behavior: smooth;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}

.mleft-logo {
  margin-left: 50px;
}

.mright-logo {
  margin-right: 50px;
}

.img-fluid-logo {
  max-width: 46%;
  height: auto;
  cursor: pointer;
}

.navbar-home .navbar-toggler {
  border: 0;
}

.navbar-home .navbar-toggler:focus {
  box-shadow: none;
}

.navbar-home .nav-item {
  margin: 0 10px;
}

.navbar-home .nav-item .active-h {
  color: #bd211d;
}

.navbar-home .nav-item .nav-link {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  display: inline-block;
}

.navbar-home .nav-item .nav-link:after {
  position: absolute;
  content: '';
  left: 0;
  width: 0;
  height: 2px;
  background: #bd211d;
  transition: 0.3s;
  bottom: 0;
}

.navbar-home .nav-item .nav-link.active::after,
.navbar-home .nav-item .nav-link:hover::after {
  width: 100%;
}

.navbar-home .nav-item .nav-link.active,
.navbar-home .nav-item .nav-link:hover {
  color: #bd211d;
}

.btn-login {
  background-color: #808080;
  color: white;
  border-radius: 24px;
  margin-right: 20px;
}

.btn-login:hover {
  background-color: rgba(21, 12, 4, 0.25);
}

.navbar-home .menu-navbar-nav {
  text-align: center;
}

.navbar-home .nav-item .nav-link {
  margin-top: 15px;
}

.navbar {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.85);
}

.navbar-toggler {
  position: absolute;
  top: 8px;
  right: 25px;
}

/* end navbar-bar */


/* start home page */
#home {
  background-color: #f7f7f7;
}

#home img {
  width: 100%;
  margin-top: 72px;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-bottom: 30px;
}

.home-txt {
  margin-top: 120px;
}

.home-h4 {
  color: #000000;
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.home-text {
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-family: "Poppins";
  font-size: 30px;
}

.content-mar {
  margin-left: -150px;
  margin-top: 150px;
}

.why {
  height: auto;
  border-radius: 24px;
  background-color: #f8e5e5;
}

.footer-img {
  width: 65px;
  height: auto;
}

.mar-lef {
  padding-left: 60px;
}

.bg-1 {
  border-radius: 24px;
  background-color: #ffecd8;
}

.bg-2 {
  border-radius: 24px;
  background-color: #fedede;
}

.card-div .card {
  cursor: pointer;
  transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card-div .card:hover {
  box-shadow: 0px 2px 70px 0 rgb(253, 71, 102/5%);
  transform: translateY(-5px);
}

.gift {
  background: linear-gradient(rgba(115, 0, 0, 0.6), rgba(115, 0, 0, 0.6)), url("Component/Assest/images/gift.png") fixed center center;
  background-size: auto, auto;
  background-size: cover;
  padding: 60px 0;
  color: white;
}

.heading {
  font-size: 48px;
  font-family: Poppins;
}

/*  end Home page */



/*  start About page */
.banner {
  background-color: #f7f7f7;
}

.banner-text {
  margin-top: 238px;
  padding: 0 60px;
}

.banner .img-about {
  margin-top: 50px;
  margin: auto;
}

.img-banner-2 {
  border-radius: 44.719rem;
  background: #FEDEDE;
}

.banner-text .banner-head {
  color: #000000;
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.banner-text .banner-p {
  color: #000000;
  font-family: "Poppins";
  font-size: 36px;
  font-weight: 500;
}

.color-banner-2 {
  border-radius: 1.5rem;
  background: #FEDEDE;
  text-align: justify;
}

.exist {
  background: rgba(249, 119, 0, 0.25);
}

.about-head {
  color: #BD211D;
  font-family: Poppins;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.5rem;
  text-align: center;
}

.card-head {
  color: #000;
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5rem;
}

.benefits-card {
  margin: 100px 0;
}

.form-bg {
  background-color: #f8770040;
}




/*  profile */

.profile-bg {
  background-color: #fedede;
}

.dropdown-menu {
  position: absolute;
  left: -62px;
}

/* donor cut btn */
.fa-sxl {
  font-size: 2em;
  vertical-align: -.1875em;
}

/* start error page */

.error-image {
  margin-top: 120px;
  max-width: 100%;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.error-message {
  color: #0062cc;
  font-size: 2em;
  margin-top: 70px;
  font-weight: 100;
  text-align: center;
}

.error-paragraph {
  color: #0062cc;
  margin-top: 70px;
  font-weight: 100;
  text-align: center;
}

.error-link {
  background-color: #8c8cf9;
  border: none;
  border-radius: 5px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin: 10px;
  padding: 15px 8px;
  position: relative;
  text-align: center;
  transition: .5s;
  transition: all .5s;
  width: 280px;
  text-decoration: none;
}

/* end error page */



/* start login page */
.btnhome {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 100%;
  line-height: 1;
}

.bg-login {
  background-image: url(Component/Assest/images/login-page-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
}

.box {
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0px 4px 9.9px #00000040;
}

.login-bg {
  background: #fff;
  margin: 50px 0;
  padding: 40px 50px;
}

.blur {
  filter: blur(4px);
}

/* end login page */



/* Donor Page */
.form-donor {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 0 auto;
  max-width: 807px;
}

.form-center {
  position: absolute;
  top: 85px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 5px;

}


/*  start footer section */
.footer {
  background-color: #fedede;
}

/* end footer section */





/* media query mobile view */

@media (max-width: 576px) {


  .mt-mobile {
    margin-top: 15px;
  }

  .mleft-logo {
    margin-left: 10px;
  }

  .navbar {
    padding-bottom: 15px;
  }

  /* home page */
  .home-h4 {
    font-size: 28px;
    font-weight: 600;
  }

  .home-txt {
    margin-bottom: 60px !important;
  }

  .home-text {
    font-size: 20px;
    font-weight: 200;
    width: 100%;
  }

  #home img {
    margin-top: 50px;
  }

  .form-center {
    padding: 20px !important;
  }

  .form-control {
    margin-bottom: 10px;
  }

  .img-why {
    margin-top: 20px;

  }

  /* end home */


  /* about */
  .banner-text {
    margin-top: 161px;
    padding: 0 60px;
  }

  .banner-text .banner-head {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
  }

  .banner-text .banner-p {
    font-size: 24px;
    font-weight: 500;
  }

  .banner .img-about {
    margin-top: 5px;
  }

  /* end about */


}

@media (max-width: 768px) {
  .mtb {
    margin-top: 7rem !important;
  }

  #home img {
    margin-top: -20px;
    margin-bottom: 50px;

  }

  /* about page */
  .banner-text .banner-head {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
  }

  .banner-text .banner-p {
    font-size: 28px;
    font-weight: 500;
  }

  .banner .img-about {
    margin-top: 5px;
  }

  .drop-center .dropdown-item {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  .cancel-btn {
    position: absolute;
    top: 3%;
    left: 95%;
    transform: translate(-50%, -50%);
  }
}



/* Tablets */
@media (min-width: 577px) and (max-width: 767px) {
  .form-center {
    padding: 30px;
  }

  #home img {
    margin-top: 0px;
  }

  .home-txt {
    margin-bottom: 60px !important;
  }


}



/* Small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .form-center {
    padding: 40px;
  }

  .mb-img {
    margin-bottom: 33px;
  }

  .banner .img-about {
    margin-top: 5px;
  }

}



/* Medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .menu-navbar-nav {
    padding-right: 50px;
  }
  .form-center {
    padding: 50px;
  }

  .banner .img-about {
    margin-top: 129px;
  }

}



/* Large desktops and beyond */
@media (min-width: 1200px) {
  .menu-navbar-nav {
    padding-right: 50px;
  }

  .form-center {
    padding:  60px;
  }

  .banner .img-about {
    margin-top: 111px;
  }

}





.btn-upload {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.btn-upload input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}